body p {
    margin: 0;
}

.item-wrapper {
    width: 20%;
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
    transition: 0.5s;
    border: 1px solid lightgrey;
}

.item-wrapper:hover {
    box-shadow: 5px 10px 8px #888888;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

.item-wrapper .image-container {
    height: 300px;
    width: 84%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 22px;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
}

.sale-tag {
    display: block;
    border: 1px solid red;
    width: 80px;
    background-color: red;
    color: white;
    position: absolute;
    top: 37px;
    left: 19px;
}

.sale-tag p {
    text-align: center;
    margin: 4px;
}

.item-info {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.item-info .item-category {
    color: red;
    font-size: 13px;
    margin-bottom: 9px;
}

.item-name {
    font-size: 18px;
    margin: 0;
    font-weight: bold;
    margin-bottom: 8px;
}

.item-price {
    display: flex;
    color: dimgray;
}

.item-price p {
    margin-right: 45px;
}

#break-through {
    text-decoration: line-through;
}